<?xml version="1.0" encoding="utf-8"?>
<resources
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="MissingTranslation">

    <!-- App -->
    <string name="app_scheme">http</string>
    <string name="app_host">webpremios.com.br</string>

    <!-- App Auth (Development / QA) -->
    <string name="app_campaign_id">30207</string>
    <string name="app_token">NWFjN2Q3MmYtYmVjMi00ZWNhLTk5YmYtZTYwZDI0OTFmNzM2OmJrb24jZTVn</string>

    <!-- Flavor Features Types -->
    <string name="login_type">logWithCampaign</string>

</resources>
